.Corners_container__gkob8 {
  position: relative;
  padding: 4px;
  border-radius: 4px;
}
.Corners_container_noCorners__Khe56 {
  padding: 0;
}
.Corners_corner__B5_DJ {
  width: 7px;
  height: 7px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  transition: all 0.2s ease-in;
}
.Corners_corner_default__lAHly {
  border-color: rgba(var(--contrast-color-rgb), 0.8);
}
.Corners_corner_default_active__wccG1 {
  border-color: var(--contrast-color);
}
.Corners_corner_warn__3CFki {
  border-color: rgba(var(--orange-rgb), 0.8);
}
.Corners_corner_warn_active__sm1B7 {
  border-color: var(--orange-rgb);
}
.Corners_corner_error__UUNI6 {
  border-color: rgba(var(--red-rgb), 0.8);
}
.Corners_corner_error_active__qDhkR {
  border-color: var(--red-rgb);
}
.Corners_corner_success__cwTPi {
  border-color: rgba(var(--green-rgb), 0.8);
}
.Corners_corner_success_active__u2An3 {
  border-color: var(--green-rgb);
}
.Corners_corner_top_left__aAS34 {
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-bottom: none;
  border-right: none;
}
.Corners_corner_top_left_active__sXldA {
  top: 3px;
  left: 3px;
}
.Corners_corner_top_right___lCM8 {
  top: 0;
  right: 0;
  border-top-right-radius: 4px;
  border-bottom: none;
  border-left: none;
}
.Corners_corner_top_right_active__raGUt {
  top: 3px;
  right: 3px;
}
.Corners_corner_bottom_right__AsKC_ {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 4px;
  border-top: none;
  border-left: none;
  transition-delay: 0.1s;
}
.Corners_corner_bottom_right_active__lY9P5 {
  bottom: 3px;
  right: 3px;
}
.Corners_corner_bottom_left__j1INS {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 4px;
  border-top: none;
  border-right: none;
  transition-delay: 0.1s;
}
.Corners_corner_bottom_left_active__1I5Aj {
  bottom: 3px;
  left: 3px;
}
.Input_container__PiKog {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.Input_inputContainer__9nDxV {
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  outline: 1px solid rgba(var(--contrast-color-rgb), 0.1);
  cursor: text;
  transition: all 0.1s;
}
.Input_inputContainer__9nDxV:hover {
  outline: 1px solid rgba(var(--contrast-color-rgb), 0.4);
}
.Input_inputContainer__9nDxV:active,
.Input_inputContainer__9nDxV:focus-within {
  outline: 1px solid rgba(var(--contrast-color-rgb), 0.8);
}
.Input_inputContainer__9nDxV:active > div:nth-child(-n + 4),
.Input_inputContainer__9nDxV:focus-within > div:nth-child(-n + 4) {
  opacity: 0;
}
.Input_inputContainer__9nDxV img {
  width: 20px;
  height: 20px;
  filter: var(--contrast-filter);
  opacity: 0.7;
}
.Input_inputContainer_warn__OoQgm {
  outline: 1px solid rgba(var(--orange-rgb), 0.2);
}
.Input_inputContainer_warn__OoQgm:hover {
  outline: 1px solid rgba(var(--orange-rgb), 0.4);
}
.Input_inputContainer_warn__OoQgm:active,
.Input_inputContainer_warn__OoQgm:focus-within {
  outline: 1px solid rgba(var(--orange-rgb), 0.8);
}
.Input_inputContainer_error__tVit4 {
  outline: 1px solid rgba(var(--red-rgb), 0.2);
}
.Input_inputContainer_error__tVit4:hover {
  outline: 1px solid rgba(var(--red-rgb), 0.4);
}
.Input_inputContainer_error__tVit4:active,
.Input_inputContainer_error__tVit4:focus-within {
  outline: 1px solid rgba(var(--red-rgb), 0.8);
}
.Input_inputContainer_success__Nb7rp {
  outline: 1px solid rgba(var(--green-rgb), 0.2);
}
.Input_inputContainer_success__Nb7rp:hover {
  outline: 1px solid rgba(var(--green-rgb), 0.4);
}
.Input_inputContainer_success__Nb7rp:active,
.Input_inputContainer_success__Nb7rp:focus-within {
  outline: 1px solid rgba(var(--green-rgb), 0.8);
}
.Input_inputContainer_noHover__BG36j:hover {
  outline: 1px solid rgba(var(--contrast-color-rgb), 0.1);
}
.Input_inputContainer_noHover__BG36j:active,
.Input_inputContainer_noHover__BG36j:focus-within {
  outline: 1px solid rgba(var(--contrast-color-rgb), 0.1);
}
.Input_inputContainer_disabled__aBMOC {
  opacity: 0.5;
  pointer-events: none;
}
.Input_textarea__0mCcL {
  margin: 8px 8px 8px 0;
  resize: vertical;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.Input_phoneNumber__9uR_C {
  width: 100%;
}
.Input_phoneNumber_container_s__6h_Qu {
  padding: 12px 16px 12px 10px;
}
.Input_phoneNumber_container_m__z7lrk {
  padding: 14px 16px 14px 10px;
}
.Input_phoneNumber_container_l__MxAWB {
  padding: 16px 16px 16px 10px;
}
.Input_phoneNumber_input__4r6zy {
  width: 100% !important;
  height: unset !important;
  border: unset !important;
  background-color: unset !important;
  color: var(--text-active-color) !important;
  font-family: var(--font-rubik);
  font-weight: 300;
}
.Input_phoneNumber_input__4r6zy::placeholder {
  color: var(--text-color);
  opacity: 0.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Input_phoneNumber_input_s__O9fGB {
  font-size: 12px !important;
  line-height: 15.6px !important;
}
.Input_phoneNumber_input_m__Gx9jT {
  font-size: 14px !important;
  line-height: 18.2px !important;
}
.Input_phoneNumber_input_l__FfY0A {
  font-size: 16px !important;
  line-height: 20.8px !important;
}
.Input_phoneNumber_button__e3YF2 {
  border: unset !important;
  background: unset !important;
}
.Input_phoneNumber_button__e3YF2 > div {
  background: unset !important;
}
.Input_phoneNumber_dropdown__t95wL {
  min-width: min-content;
  left: -10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 3px 0 0 !important;
  padding: 4px 2px 4px 4px !important;
  border-radius: 4px !important;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2) !important;
  background-color: var(--background-color-1) !important;
}
.Input_phoneNumber_dropdown__t95wL > li {
  padding: 8px 10px !important;
  border-radius: 4px;
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px !important;
  line-height: 18.2px !important;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Input_phoneNumber_dropdown__t95wL > li:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.05) !important;
}
.Input_phoneNumber_dropdown__t95wL > li[aria-selected="true"] {
  color: var(--text-active-color);
}
.Input_phoneNumber_dropdown__t95wL > li[aria-selected="true"],
.Input_phoneNumber_dropdown__t95wL > li[aria-selected="true"]:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.1) !important;
}
.Input_input__dwy5x {
  width: 100%;
  border: none;
  background-color: unset;
  color: var(--text-active-color);
  outline: none;
}
.Input_input__dwy5x::placeholder {
  color: var(--text-color);
  opacity: 0.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Input_input_s__l7Wvz {
  font-size: 12px;
  line-height: 15.6px;
  padding: 12px 16px;
}
.Input_input_m__XD_7v,
.Input_input_s__l7Wvz {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Input_input_m__XD_7v {
  font-size: 14px;
  line-height: 18.2px;
  padding: 14px 16px;
}
.Input_input_l__xk1Qu {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  padding: 16px;
}
.Input_element__MLEoZ {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
}
.Input_element_disabled__kr2GJ {
  pointer-events: none;
}
.Input_label__5xQux {
  color: var(--text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Input_label_s__PA36W {
  font-size: 12px;
  line-height: 15.6px;
}
.Input_label_m__agxmF,
.Input_label_s__PA36W {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Input_label_m__agxmF {
  font-size: 14px;
  line-height: 18.2px;
}
.Input_label_l__Omr0R {
  font-size: 16px;
  line-height: 20.8px;
}
.Input_label_l__Omr0R,
.Input_message_s___3QVK {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Input_message_s___3QVK {
  font-size: 10px;
  line-height: 13px;
}
.Input_message_m__4_FiG {
  font-size: 12px;
  line-height: 15.6px;
}
.Input_message_l__tS07r,
.Input_message_m__4_FiG {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Input_message_l__tS07r {
  font-size: 14px;
  line-height: 18.2px;
}
.Input_message_hint__EloHG {
  color: var(--text-color);
}
.Input_message_warn__KnRtU {
  color: var(--orange);
}
.Input_message_error__jfbLa {
  color: var(--red);
}
.Input_message_success__VQn6I {
  color: var(--green);
}
.Input_eye__Ht_LC {
  filter: var(--contrast-filter) !important;
}
.Input_eye_show__n0BaD {
  filter: var(--primary-filter) !important;
}
.Selector_container__CutMg {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  outline: none;
}
.Selector_selector__QvYxM {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background-color: rgba(var(--background-color-1-rgb), 0.4);
  color: var(--text-active-color);
  border: 1px solid var(--gray1);
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.1s;
  text-transform: uppercase;
}
.Selector_selector__QvYxM > div:first-child {
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.Selector_selector__QvYxM:hover {
  border: 1px solid var(--primary);
}
.Selector_selector_s__oFnkn {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 6px 24px;
}
.Selector_selector_m__E6ac2 {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.08px;
  padding: 8px 24px;
}
.Selector_selector_l__TfaBX {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.52px;
  padding: 10px 24px;
}
.Selector_selector_opened__TgqNJ,
.Selector_selector_opened__TgqNJ:hover {
  border: 1px solid var(--primary);
}
.Selector_selector_warn__7U2BE {
  border: 1px solid rgba(var(--orange-rgb), 0.2);
}
.Selector_selector_warn__7U2BE:hover {
  border: 1px solid rgba(var(--orange-rgb), 0.4);
}
.Selector_selector_warn_opened__sQA_Z,
.Selector_selector_warn_opened__sQA_Z:hover {
  border: 1px solid rgba(var(--orange-rgb), 0.8);
}
.Selector_selector_error__yPDm5 {
  border: 1px solid rgba(var(--red-rgb), 0.2);
}
.Selector_selector_error__yPDm5:hover {
  border: 1px solid rgba(var(--red-rgb), 0.4);
}
.Selector_selector_error_opened__Aedtn,
.Selector_selector_error_opened__Aedtn:hover {
  border: 1px solid rgba(var(--red-rgb), 0.8);
}
.Selector_selector_success__i76CB {
  border: 1px solid rgba(var(--green-rgb), 0.2);
}
.Selector_selector_success__i76CB:hover {
  border: 1px solid rgba(var(--green-rgb), 0.4);
}
.Selector_selector_success_opened__JkxgJ,
.Selector_selector_success_opened__JkxgJ:hover {
  border: 1px solid rgba(var(--green-rgb), 0.8);
}
.Selector_selector_disabled__bv9gi {
  pointer-events: none;
  opacity: 0.5;
}
.Selector_arrow__2DEMH {
  width: 20px;
  height: 20px;
  filter: var(--primary-filter);
  transition: transform 0.3s;
}
.Selector_arrow_opened__lpEYK {
  transform: rotate(-180deg);
}
.Selector_arrow_disabled__vPT14 {
  filter: var(--contrast-filter);
}
.Selector_optionsContainer__c9z4U {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  z-index: var(--z-popup);
  width: 100%;
  position: absolute;
  padding: 4px 2px 4px 4px;
  background-color: var(--background-color-1);
}
.Selector_optionsContainer_down__beA81 {
  top: calc(100% + 2px);
}
.Selector_optionsContainer_up__yVmTU {
  bottom: calc(100% + 2px);
}
.Selector_options__NiK5l {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 2px 0 0;
  overflow: auto;
}
.Selector_option__T0HBU {
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.1s;
}
.Selector_option__T0HBU:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.05);
}
.Selector_option_selected__lt7fu {
  color: var(--text-active-color);
}
.Selector_option_selected__lt7fu,
.Selector_option_selected__lt7fu:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.1);
}
.Selector_option_s__d2vsy {
  font-size: 12px;
  line-height: 15.6px;
}
.Selector_option_m__C7MF_,
.Selector_option_s__d2vsy {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Selector_option_m__C7MF_ {
  font-size: 14px;
  line-height: 18.2px;
}
.Selector_option_l__PPn_0 {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
}
.Selector_label__msm2T {
  color: var(--black);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Selector_label_s__8_p0M {
  font-size: 12px;
  line-height: 15.6px;
}
.Selector_label_m__N6hEh,
.Selector_label_s__8_p0M {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Selector_label_m__N6hEh {
  font-size: 14px;
  line-height: 18.2px;
}
.Selector_label_l__RdNTi {
  font-size: 16px;
  line-height: 20.8px;
}
.Selector_label_l__RdNTi,
.Selector_message_s__yn3TH {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Selector_message_s__yn3TH {
  font-size: 10px;
  line-height: 13px;
}
.Selector_message_m__NPSQa {
  font-size: 12px;
  line-height: 15.6px;
}
.Selector_message_l__60DXG,
.Selector_message_m__NPSQa {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Selector_message_l__60DXG {
  font-size: 14px;
  line-height: 18.2px;
}
.Selector_message_hint__g1kSP {
  color: var(--text-color);
}
.Selector_message_warn__DH5TI {
  color: var(--orange);
}
.Selector_message_error__1NTDX {
  color: var(--red);
}
.Selector_message_success__nhBWj {
  color: var(--green);
}
.Checkbox_checkbox__wwuhQ {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  outline: none;
}
.Checkbox_checkbox__wwuhQ:focus > div:first-child,
.Checkbox_checkbox__wwuhQ:hover > div:first-child {
  border: 1px solid var(--gray2);
  background-color: var(--gray1);
}
.Checkbox_checkbox_selected__jCO9L:focus > div:first-child,
.Checkbox_checkbox_selected__jCO9L:hover > div:first-child {
  border: 1px solid var(--primary-hover);
  background-color: var(--primary-hover);
}
.Checkbox_checkbox_disabled__Chy96 {
  pointer-events: none;
}
.Checkbox_check__PCZcO {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--gray2);
  background-color: var(--gray1);
  transition: all 0.1s;
}
.Checkbox_check__PCZcO > img {
  width: 20px;
  height: 20px;
  filter: var(--background-color-filter);
}
.Checkbox_check_selected__DkL2b {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
.Checkbox_check_selected_disabled__5uZcu {
  border: 1px solid var(--gray1) !important;
  background-color: var(--gray1) !important;
}
.Checkbox_check_selected_disabled__5uZcu > img {
  filter: var(--gray2-filter);
}
.Checkbox_check_disabled__Z7bfZ {
  border: 1px solid var(--gray2);
  background-color: var(--gray2);
}
.Checkbox_label__dQEq5 {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.08px;
  color: var(--text-active-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Popup_container__v_URq {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Popup_container_left__cmY11 {
  align-items: flex-start;
}
.Popup_container_right__KG_Tt {
  align-items: flex-end;
}
.Popup_popup__nF0Vc {
  z-index: var(--z-popup);
  position: absolute;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--background-color-1);
  border: 1px solid var(--gray1);
}
.Popup_popup_open__BzUw_ {
  animation: Popup_appear__kvgkO 0.2s;
}
.Popup_popup_close__UWrn8 {
  animation: Popup_disappear__7NvMg 0.2s;
}
.Popup_popup_up__7wg3f {
  bottom: calc(100% + 2px);
}
.Popup_popup_down___NKjW {
  top: calc(100% + 2px);
}
@keyframes Popup_appear__kvgkO {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Popup_disappear__7NvMg {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.Tooltip_container__3EPkh {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tooltip_tooltip__prgdU {
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background-color: var(--background-color-1);
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: calc(100% + 2px);
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02);
}
.Tooltip_tooltip_open__wm0J_ {
  animation: Tooltip_appear__YMU1s 0.2s;
}
.Tooltip_tooltip_close__Lp2Pz {
  animation: Tooltip_disappear__XVsSA 0.2s;
}
@keyframes Tooltip_appear__YMU1s {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Tooltip_disappear__XVsSA {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.StatusPlate_plate__5wiof {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgba(var(--contrast-color-rgb), 0.07);
  color: var(--text-active-color);
  cursor: default;
}
.StatusPlate_plate_info__EMKiY {
  background-color: rgba(var(--primary-rgb), 0.07);
  color: var(--primary);
}
.StatusPlate_plate_error__w4aIh {
  background-color: rgba(var(--red-rgb), 0.07);
  color: var(--red);
}
.StatusPlate_plate_warn__nDrs2 {
  background-color: rgba(var(--orange-rgb), 0.07);
  color: var(--orange);
}
.StatusPlate_plate_success__YiN7H {
  background-color: rgba(var(--green-rgb), 0.07);
  color: var(--green);
}
@media (max-width: 680px) {
  .StatusPlate_plate__5wiof {
    font-family: var(--font-rubik);
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.01em;
    padding: 2px 8px;
  }
}
.Scope_container__pfLeI {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 900px) {
  .Scope_container__pfLeI {
    gap: 16px;
  }
}
.Scope_header__EC5cj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media (max-width: 900px) {
  .Scope_header__EC5cj {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
.Scope_title__W7R91 {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .Scope_title__W7R91 {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.52px;
  }
}
.Scope_actions__jLltX {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 900px) {
  .Scope_actions__jLltX {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.NavigationTabs_container__ZICDT {
  height: max-content;
  position: relative;
}
.NavigationTabs_tabs__G_H24 {
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-bottom: 0.3px solid var(--gray2);
}
.NavigationTabs_tab__WAm_p {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 8px 24px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.NavigationTabs_tab_current__bEYNd {
  color: var(--contrast-color) !important;
}
.NavigationTabs_tab_disabled__MMezL {
  opacity: 0.6;
  pointer-events: none;
}
.NavigationTabs_slider__EaYtB {
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: var(--primary);
  transition: left 0.3s;
}
.CopyToClipboard_image__2w4Gp {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: var(--primary-filter);
  transition: all 0.1s;
}
.CopyToClipboard_image__2w4Gp:focus,
.CopyToClipboard_image__2w4Gp:hover,
.CopyToClipboard_image_copied__TCiia {
  filter: var(--primary-hover-filter);
}
.CopyScope_container__iMD3b {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 8px 8px 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray1);
  background-color: rgba(var(--primary-rgb), 0.05);
}
.CopyScope_text__jVurI {
  width: 100%;
  font-family: var(--font-ibm);
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  overflow: auto;
}
.ShowMore_show__pdZgB {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
  margin-left: 4px;
}
.ShowMore_show__pdZgB:hover {
  color: var(--text-active-color);
}
.ShowMore_show__pdZgB:hover > img {
  filter: var(--gray4-filter);
}
.ShowMore_show__pdZgB:active {
  color: var(--text-active-color);
}
.ShowMore_show__pdZgB:active > img {
  filter: var(--gray3-filter);
}
.ShowMore_show__pdZgB > img {
  filter: var(--primary-filter);
}
.ChartTooltip_container__AG_pU {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--green-rgb), 0.05) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 680px) {
  .ChartTooltip_container__AG_pU {
    padding: 12px;
  }
}
.ChartTooltip_label__AlINf {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--text-active-color);
}
@media (max-width: 680px) {
  .ChartTooltip_label__AlINf {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.ChartTooltip_value__9E_Ms {
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.ChartTooltip_value__9E_Ms > div:first-child {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
}
.ChartTooltip_value__9E_Ms > div:nth-child(2) {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  color: var(--contrast-color);
}
@media (max-width: 680px) {
  .ChartTooltip_value__9E_Ms > div:first-child {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
  .ChartTooltip_value__9E_Ms > div:nth-child(2) {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.01em;
  }
}
.Slider_container__J25D_ {
  height: max-content;
  position: relative;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--gray1);
  background-color: rgba(var(--background-color-1-rgb), 0.2);
}
.Slider_container_disabled__d_APe {
  opacity: 0.5;
  pointer-events: none;
}
.Slider_container_disabled__d_APe > div > div {
  color: var(--gray4);
}
.Slider_slider___T_T1 {
  position: relative;
  display: flex;
  align-items: center;
}
.Slider_slide__0EnOv {
  height: 100%;
  position: absolute;
  border-radius: 4px;
  background-color: var(--gray1);
  transition: transform 0.3s ease-out;
}
.Slider_tab__iiIrd {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.08px;
  z-index: 1;
  padding: 6px;
  color: var(--gray4);
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.Slider_tab__iiIrd:hover,
.Slider_tab_current__JPybU {
  color: var(--contrast-color);
}
.Slider_tab_current__JPybU {
  pointer-events: none;
}
.NoData_container__tJxmG {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  margin: 30px;
  text-align: center;
}
@media (max-width: 680px) {
  .NoData_container__tJxmG {
    font-family: var(--font-rubik);
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.01em;
  }
}
.TFACode_container__MzFEx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (max-width: 680px) {
  .TFACode_title__IN4ag {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.01em;
  }
}
.TFACode_code__LQeeJ {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.TFACode_code__LQeeJ > div {
  width: 16.6666666667%;
  max-width: 60px;
}
.TFACode_code__LQeeJ > div input {
  text-align: center;
}
@media (max-width: 680px) {
  .TFACode_code__LQeeJ {
    gap: 6px;
  }
}
.DatetimePicker_container__C1qLR {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}
.DatetimePicker_container_left__q_PkQ {
  justify-content: flex-start;
}
.DatetimePicker_container_right__l3ZJ9 {
  justify-content: flex-end;
}
.DatetimePicker_calendarImage__VYx4a {
  width: 20px;
  height: 20px;
  filter: var(--gray1-filter);
}
.DatetimePicker_picker__dXZV1 {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background-color: var(--background-color-1);
  width: 270px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
}
.DatetimePicker_picker_up__DLzVz {
  bottom: calc(100% + 4px);
}
.DatetimePicker_picker_down__x7sst {
  top: calc(100% + 4px);
}
.DatetimePicker_months__6__u3 {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-active-color);
}
.DatetimePicker_months__6__u3 > img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  filter: var(--gray2-filter);
  transition: all 0.1s;
}
.DatetimePicker_months__6__u3 > img:focus,
.DatetimePicker_months__6__u3 > img:hover {
  filter: var(--gray3-filter);
}
.DatetimePicker_months__6__u3 > img:first-child {
  transform: rotate(90deg);
}
.DatetimePicker_months__6__u3 > img:nth-child(3) {
  transform: rotate(-90deg);
}
.DatetimePicker_calendar__4KrPK {
  display: flex;
  gap: 24px;
}
.DatetimePicker_month__dOH7V {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.DatetimePicker_weekdays__4yIhW {
  display: flex;
  column-gap: 10px;
}
.DatetimePicker_weekday__JoWAM {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.01em;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray3);
}
.DatetimePicker_days__B3lxT {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 4px;
  row-gap: 4px;
}
.DatetimePicker_day__X576X {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.01em;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--text-active-color);
  cursor: pointer;
  transition: all 0.1s;
}
.DatetimePicker_day__X576X:focus,
.DatetimePicker_day__X576X:hover {
  background-color: rgba(var(--primary-rgb), 0.2);
}
.DatetimePicker_day__X576X:active,
.DatetimePicker_day_selected__kD9xf {
  background-color: var(--primary);
  color: var(--white);
}
.DatetimePicker_day_selected__kD9xf:focus,
.DatetimePicker_day_selected__kD9xf:hover {
  background-color: var(--primary) !important;
}
.DatetimePicker_day_out__kBN7Z,
.DatetimePicker_day_out__kBN7Z:focus,
.DatetimePicker_day_out__kBN7Z:hover {
  background-color: unset !important;
  color: var(--gray2);
}
.DatetimePicker_time__ZPE57 {
  display: flex;
  gap: 8px;
}
.DatetimePicker_time__ZPE57 img {
  display: none;
}
.DatetimePicker_time__ZPE57 > div > div:first-child > div {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  overflow: visible;
}
.DatetimePicker_time__ZPE57 > div > div:nth-child(2) > div {
  max-height: 110px;
}
.Map_map__u3VQr {
  width: 100%;
  height: 100%;
  outline: none;
}
.Map_map__u3VQr path {
  outline: none;
}
.Map_land_active__PRyU_ {
  fill: var(--primary-hover);
}
.Map_country__Ktm5y {
  font-weight: 500;
  fill: var(--contrast-color);
  stroke: var(--gray2);
}
.Map_capital__YV4_x,
.Map_country__Ktm5y {
  font-family: var(--font-rubik);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}
.Map_capital__YV4_x {
  font-weight: 400;
  font-size: 0.6px;
  fill: var(--gray2);
}
.Map_actions__6Sxno {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: var(--background-color-1);
  outline: none;
}
.Map_action__8XP5p {
  width: 20px;
  height: auto;
  filter: var(--primary-filter);
  cursor: pointer;
}
.Map_action__8XP5p:nth-child(4) {
  padding: 0 1px 0 2px;
}
.Map_action__8XP5p:active,
.Map_action__8XP5p:hover {
  filter: var(--primary-hover-filter);
}
.Map_action_disabled__hISgO {
  opacity: 0.3;
  pointer-events: none;
}
.Map_actionsSeparator__vpnwp {
  width: 100%;
  height: 1px;
  margin: 2px 0 8px;
  background-color: var(--gray1);
}
.Map_tooltip__auwcG {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background-color: var(--background-color-1);
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  z-index: var(--z-tooltip) !important;
  position: absolute;
  display: none;
  padding: 4px 8px;
  pointer-events: none;
}
.Map_tooltip__auwcG > div {
  display: flex;
  gap: 4px;
}
.Map_tooltip__auwcG > div > div:first-child {
  color: var(--text-color);
}
.MapContainer_header__gjKZ6,
.Map_tooltip__auwcG > div > div:nth-child(2) {
  color: var(--text-active-color);
}
.MapContainer_header__gjKZ6 {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  text-transform: uppercase;
}
@media (max-width: 680px) {
  .MapContainer_header__gjKZ6 {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.52px;
  }
}
.MapContainer_modal__mvxq3 {
  width: 100%;
  height: 100%;
  max-width: unset !important;
  max-height: unset !important;
  border-radius: unset !important;
  border: none !important;
}
.MapContainer_modal__mvxq3 > div:nth-child(2) {
  margin: 0;
  overflow: hidden;
}
.TermsAndConditions_container__aSzpp {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.TermsAndConditions_p1__PMEjR {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.TermsAndConditions_p2__EZWhI {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
}
.TermsAndConditions_h1__Fj1EG {
  font-size: 20px;
  line-height: 24.4px;
}
.TermsAndConditions_h1__Fj1EG,
.TermsAndConditions_h2__ZzidA {
  font-family: var(--font-rigid);
  font-weight: 500;
  color: var(--text-active-color);
}
.TermsAndConditions_h2__ZzidA {
  font-size: 16px;
  line-height: 19.52px;
  margin: 4px 0;
}
.TermsAndConditions_h3__6DisD {
  margin: 6px 0 0;
}
.TermsAndConditions_h3__6DisD,
.TermsAndConditions_s2__3MumS {
  color: var(--text-active-color);
}
.PrivacyPolicy_container__jnzYH {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.PrivacyPolicy_p1__Y3OdR {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.PrivacyPolicy_p2__1ebHu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
}
.PrivacyPolicy_h1__XXhVS {
  font-size: 20px;
  line-height: 24.4px;
}
.PrivacyPolicy_h1__XXhVS,
.PrivacyPolicy_h2__vf2HM {
  font-family: var(--font-rigid);
  font-weight: 500;
  color: var(--text-active-color);
}
.PrivacyPolicy_h2__vf2HM {
  font-size: 16px;
  line-height: 19.52px;
  margin: 4px 0;
}
.PrivacyPolicy_h3__Owy7G {
  margin: 6px 0 0;
}
.PrivacyPolicy_h3__Owy7G,
.PrivacyPolicy_s2__fSQ_U {
  color: var(--text-active-color);
}
.Modal_wrapper__fgR5o {
  z-index: var(--z-modal);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--background-color-1-rgb), 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  outline: none;
}
.Modal_wrapper_open__R8_U1 {
  animation: Modal_appear__JHh6g 0.2s;
}
.Modal_wrapper_close__9A81j {
  opacity: 0;
  transition: opacity 0.2s;
}
.Modal_modal__ar9Jd {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background-color: var(--background-color-1);
  overflow: hidden;
}
.Modal_modal_open__CMkNM {
  animation: Modal_upscale__1x6zG 0.2s;
}
.Modal_modal_close__lC4kv {
  transform: scale(0.8);
  transition: transform 0.2s;
}
@media (max-width: 900px) {
  .Modal_modal_large___s27p {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    border-radius: unset;
    border: none;
  }
}
@media (max-width: 680px) {
  .Modal_modal__ar9Jd {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    border-radius: unset;
    border: none;
  }
}
.Modal_header__389Hc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 24px;
  border-bottom: 1px solid var(--gray1);
}
.Modal_close__4438R {
  width: 20px;
  height: 20px;
  filter: var(--gray2-filter);
  cursor: pointer;
}
.Modal_close__4438R:hover {
  filter: var(--gray3-filter);
}
.Modal_close__4438R:active,
.Modal_close__4438R:focus {
  filter: var(--gray4-filter);
}
.Modal_body__PKQF5 {
  height: 100%;
  margin: 4px;
  overflow-y: auto;
}
@keyframes Modal_appear__JHh6g {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Modal_upscale__1x6zG {
  0% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
.ActionCompletionModal_container__jXgAp {
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
}
.ActionCompletionModal_container__jXgAp > img {
  width: 500px;
  height: auto;
}
@media (max-width: 680px) {
  .ActionCompletionModal_container__jXgAp {
    max-width: unset;
  }
  .ActionCompletionModal_container__jXgAp > img {
    width: 100%;
    height: auto;
  }
}
.ActionCompletionModal_image_error__EoW6k {
  filter: var(--red-filter);
}
.ActionCompletionModal_title__rwz5_ {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--text-active-color);
  text-align: center;
  text-transform: uppercase;
}
.ActionCompletionModal_text__PDvfs {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
}
.ActionCompletionModal_buttons__Rg1vM {
  display: flex;
  gap: 16px;
  margin: 16px 0 24px;
}
.DesktopTableGroup_row__aa5JY {
  display: flex;
  align-items: stretch;
  transition: all 0.1s;
}
.DesktopTableGroup_row__aa5JY > div {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  color: var(--gray3);
  text-align: center;
  word-break: break-word;
}
.DesktopTableGroup_row_colored__yke2c {
  background-color: rgba(var(--contrast-color-rgb), 0.02);
}
.DesktopTableGroup_row_nesting__C5mIt {
  position: relative;
  padding: 0 0 0 16px;
}
.DesktopTableGroup_row_nesting__C5mIt:before {
  content: "-";
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(var(--contrast-color-rgb), 0.15);
  color: rgba(var(--contrast-color-rgb), 0.15);
}
.DesktopTableGroup_row_nesting__C5mIt:last-child:before {
  background: linear-gradient(
    rgba(var(--contrast-color-rgb), 0.15) 52%,
    hsla(0, 0%, 100%, 0) 52%
  );
}
.DesktopTableGroup_row_clickable__X6VEM {
  cursor: pointer;
}
.DesktopTableGroup_row_clickable__X6VEM:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.05);
}
.DesktopTableGroup_wrapper__9wvUx {
  display: grid;
  grid-template-rows: 0fr;
  border-bottom: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  transition: grid-template-rows 0.3s;
}
.DesktopTableGroup_wrapper__9wvUx:last-child {
  border-bottom: none;
}
.DesktopTableGroup_wrapper_expanded__LKY_a {
  grid-template-rows: 1fr;
}
.DesktopTableGroup_inner__Lyl7Y {
  overflow: hidden;
}
@media (max-width: 680px) {
  .InfiniteScroll_button__q5bRG > div {
    width: 100%;
  }
}
.InfiniteScroll_arrow__bwwxj {
  transform: rotate(90deg) !important;
}
.Pagination_container__9jmL7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media (max-width: 680px) {
  .Pagination_container__9jmL7 {
    flex-direction: column;
    gap: 8px;
  }
}
.Pagination_showing__Ow0fk {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
}
.Pagination_pagination__n94g2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.Pagination_pagination__n94g2 div {
  transition: none;
}
.Pagination_pagination__n94g2 > div:first-child img {
  margin: 0 -2px 0 0;
  transform: rotate(0deg);
}
.Pagination_pagination__n94g2 > div:last-child img {
  margin: 0 0 0 -2px;
  transform: rotate(180deg);
}
.Pagination_currentPage__4DYKR {
  pointer-events: none;
}
.Pagination_currentPage__4DYKR > div > div {
  border: 1px solid var(--gray4);
}
.Pagination_currentPage__4DYKR > div > div > div {
  color: var(--text-active-color);
}
.Pagination_dots__OFtk9 {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.08px;
  color: var(--black);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.DesktopTable_table__oNR4k {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
}
.DesktopTable_header__KFte4 {
  display: flex;
  align-items: center;
  border-bottom: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background-color: rgba(var(--contrast-color-rgb), 0.02);
}
.DesktopTable_header__KFte4 > div {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.01em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 8px 16px;
  color: var(--gray3);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.DesktopTable_header_sortable__wiE5O {
  cursor: pointer;
}
.DesktopTable_sort__vt9un {
  width: 6px;
  height: auto;
  filter: var(--gray3-filter);
  transition: transform 0.3s;
}
.DesktopTable_sort_sorted__g49yp {
  filter: var(--contrast-filter);
}
.DesktopTable_sort_asc__NKqwA {
  transform: rotate(-180deg);
}
.DesktopTable_row__VT_YO {
  display: flex;
  align-items: stretch;
  transition: all 0.1s;
}
.DesktopTable_row__VT_YO > div {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  color: var(--gray3);
  text-align: center;
  word-break: break-word;
}
.DesktopTable_row_colored__z_RDh {
  background-color: rgba(var(--contrast-color-rgb), 0.02);
}
.DesktopTable_row_clickable__LwukY {
  cursor: pointer;
}
.DesktopTable_row_clickable__LwukY:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.05);
}
.MobileTableCard_card__9dRXS {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 4px;
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  transition: all 0.1s;
}
.MobileTableCard_card_clickable__tYQPk {
  cursor: pointer;
}
.MobileTableCard_card_clickable__tYQPk:hover {
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.4);
}
.MobileTableCard_header__j_AGS {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  padding: 0 0 12px;
}
@media (max-width: 680px) {
  .MobileTableCard_header__j_AGS {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.01em;
  }
}
.MobileTableCard_wrapper__J9hry {
  overflow: hidden;
  transition: height 0.3s;
}
.MobileTableCard_body__y7mEX {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0);
}
.MobileTableCard_body_open__8jPGB {
  border-top: 1px solid var(--gray1);
}
.MobileTableCard_arrow__tROpJ {
  width: 15px;
  height: 15px;
  filter: var(--contrast-filter);
  cursor: pointer;
  opacity: 0.3;
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.MobileTableCard_arrow_open__Y_hSW {
  opacity: 1;
  transform: rotate(0);
}
.MobileTableGroup_wrapper__p4e7G {
  display: grid;
  grid-template-rows: 0fr;
  margin-bottom: -12px;
  transition: grid-template-rows 0.4s, margin-bottom 0.4s;
}
.MobileTableGroup_wrapper_expanded__vXg_Q {
  grid-template-rows: 1fr;
  margin-bottom: unset;
}
.MobileTableGroup_inner__SWFnX {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
}
.MobileTableGroup_separator__6icCl {
  width: 100%;
  height: 10px;
  background-color: rgba(var(--contrast-color-rgb), 0.05);
  border-radius: 4px;
}
.MobileTable_table__6kol8 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.MobileTableCardBodyRow_row__i1Kw9 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.MobileTableCardBodyRow_label__atdka {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  width: 50%;
  color: var(--text-color);
  text-align: start;
}
@media (max-width: 680px) {
  .MobileTableCardBodyRow_label__atdka {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.MobileTableCardBodyRow_value__DZ4Gn {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  width: 50%;
  color: var(--text-active-color);
  text-align: end;
}
@media (max-width: 680px) {
  .MobileTableCardBodyRow_value__DZ4Gn {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.InfoCard_card__JWHgN {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
}
.InfoCard_image__6wJlz {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(var(--primary-rgb), 0.05);
}
.InfoCard_image__6wJlz > img {
  width: 32px;
  height: 32px;
  filter: var(--primary-filter);
}
.InfoCard_body__tja1Y {
  width: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.InfoCard_title__k9o47 {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .InfoCard_title__k9o47 {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.52px;
  }
}
.InfoCard_secondaryTitle__U4tqn {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--contrast-color);
  text-transform: capitalize;
}
.InfoCard_tag__NuZKP {
  font-size: 10px;
  line-height: 13px;
  width: max-content;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--gray1-rgb), 0.5);
  text-transform: uppercase;
}
.InfoCard_tag__NuZKP,
.InfoCard_text__brIOx {
  font-family: var(--font-rubik);
  font-weight: 300;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.InfoCard_text__brIOx {
  font-size: 14px;
  line-height: 18.2px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .InfoCard_text__brIOx {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.InfoCard_value__qlusM {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 32px;
  line-height: 39.04px;
  color: var(--text-active-color);
  text-transform: uppercase;
  word-break: break-word;
}
.InfoCard_value_wide__VrMpk {
  width: 100%;
}
@media (max-width: 900px) {
  .InfoCard_value__qlusM {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 20px;
    line-height: 24.4px;
  }
}
.InfoCard_valuesRow___fLLk {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.InfoCard_valuesRow___fLLk > div:first-child {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
@media (max-width: 900px) {
  .InfoCard_valuesRow___fLLk > div:first-child {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.01em;
  }
}
.InfoCard_valuesRow___fLLk > div:nth-child(2) {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.01em;
  color: var(--contrast-color);
  text-align: end;
}
@media (max-width: 900px) {
  .InfoCard_valuesRow___fLLk > div:nth-child(2) {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.01em;
  }
}
.TextCard_card__xsfZf {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}
@media (max-width: 900px) {
  .TextCard_card__xsfZf {
    padding: 24px;
  }
}
.TextCard_container__idlDI {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 900px) {
  .TextCard_container__idlDI {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.TextCard_body__Zd_Z4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 900px) {
  .TextCard_body__Zd_Z4 {
    gap: 8px;
  }
}
.TextCard_title__ozT8F {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--contrast-color);
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .TextCard_title__ozT8F {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.52px;
  }
}
.TextCard_text__jdrm2 {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
@media (max-width: 900px) {
  .TextCard_text__jdrm2 {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.TextCard_image__a_n9c {
  width: 72px;
  height: 72px;
  filter: var(--contrast-filter);
}
@media (max-width: 900px) {
  .TextCard_image__a_n9c {
    width: 48px;
    height: 48px;
  }
}
.ValueCard_card__JX1A5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 48px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    100% 362.26% at 98.77% 0,
    rgba(var(--secondary-rgb), 0.05) 0,
    rgba(var(--contrast-color-rgb), 0) 65.56%,
    rgba(var(--secondary-rgb), 0) 100%
  );
}
@media (max-width: 680px) {
  .ValueCard_card__JX1A5 {
    gap: 16px;
    padding: 16px;
  }
}
.ValueCard_title__WL_QA {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 16px;
  line-height: 19.52px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
@media (max-width: 680px) {
  .ValueCard_title__WL_QA {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 14px;
    line-height: 17.08px;
  }
}
.ValueCard_value__NIdWz {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 32px;
  line-height: 39.04px;
  color: var(--text-active-color);
  text-transform: uppercase;
  word-break: break-word;
}
@media (max-width: 680px) {
  .ValueCard_value__NIdWz {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 20px;
    line-height: 24.4px;
  }
}
.Button_container__ZwO_v {
  z-index: 1;
  width: max-content;
  cursor: pointer;
  outline: none;
}
.Button_container_disabled__immy9 {
  opacity: 0.6;
  pointer-events: none;
}
.Button_button__wliYd {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.1s;
}
.Button_button_xs__fEbtA {
  font-family: var(--font-rigid);
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 8px;
}
.Button_button_xs__fEbtA img {
  width: 14px;
  height: 14px;
}
.Button_button_s__4jbhs {
  font-family: var(--font-rigid);
  font-weight: 300;
  font-size: 14px;
  line-height: 17.08px;
  padding: 8px 12px;
}
.Button_button_s__4jbhs img {
  width: 16px;
  height: 16px;
}
.Button_button_m__uUGyK {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 16px;
  line-height: 19.52px;
  padding: 12px 24px;
}
.Button_button_m__uUGyK img {
  width: 20px;
  height: 20px;
}
.Button_button_children__wATUF {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.Button_button_children__wATUF img {
  transition: transform 0.15s ease-in;
}
.Button_button_children_active__yxfEI img {
  transform: translateX(2px);
}
.Button_button_children_loading__8CHX9 {
  opacity: 0;
}
.Button_button_outlined__OCjpH {
  color: var(--text-color);
  border: 1px solid rgba(var(--contrast-color-rgb), 0.2);
}
.Button_button_outlined__OCjpH img {
  filter: var(--contrast-filter);
  opacity: 0.6;
}
.Button_button_outlined_active__yEfMZ {
  color: var(--contrast-color);
  border: 1px solid var(--contrast-color);
}
.Button_button_outlined_active__yEfMZ img {
  opacity: 1;
}
.Button_button_animated__hhxk6 {
  background: var(--background-color-1);
  color: var(--primary);
  border: 1px solid rgba(var(--contrast-color-rgb), 0.05);
}
.Button_button_animated__hhxk6 img {
  filter: var(--primary-filter);
}
.Button_button_animated_active__uvxMZ {
  color: var(--contrast-color);
}
.Button_button_animated_active__uvxMZ img {
  filter: var(--contrast-filter);
}
.Button_button_animated_disabled__6oe_K {
  background: linear-gradient(
      0deg,
      rgba(var(--contrast-color-rgb), 0.1),
      rgba(var(--contrast-color-rgb), 0.1)
    ),
    linear-gradient(0deg, var(--background-color-1), var(--background-color-1));
  color: rgba(var(--contrast-color-rgb), 0.3);
  pointer-events: none;
}
.Button_button_animated_disabled__6oe_K img {
  filter: var(--contrast-filter);
  opacity: 0.3;
}
.Button_loader__DleMy {
  position: absolute;
}
.Button_loader_xs__vUPV_ {
  width: auto !important;
  height: 10px !important;
}
.Button_loader_s__gXT62 {
  width: auto !important;
  height: 12px !important;
}
.Button_loader_m__uxOHS {
  width: auto !important;
  height: 16px !important;
}
.Button_line__Z2ot4 {
  width: 90%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 5%;
  background: radial-gradient(
    31% 50% at 50% 50%,
    rgba(var(--contrast-color-rgb), 1) 0,
    rgba(var(--contrast-color-rgb), 0) 100%
  );
  opacity: 0.4;
  transition: all 0.15s;
}
.Button_line_active__cnD1d {
  width: 110%;
  left: -5%;
  opacity: 1;
}
.Button_gradient__sg2HJ {
  width: 120%;
  height: 100%;
  position: absolute;
  left: -10%;
  background: radial-gradient(
    40% 75% at 50% 0,
    rgba(var(--primary-rgb), 1) 0,
    rgba(var(--background-color-1-rgb), 0) 100%
  );
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}
.Button_gradient_active__g_JxG {
  width: 140%;
  height: 140%;
  left: -20%;
  opacity: 0.4;
}
.CollapseCard_card__z3Cbl {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  transition: all 0.1s;
}
.CollapseCard_card_open__sZcdz {
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.3);
  background-color: rgba(var(--contrast-color-rgb), 0.03);
}
.CollapseCard_header__3QUne {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.CollapseCard_arrow__evtaf {
  width: 20px;
  height: 20px;
  filter: var(--contrast-filter);
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.CollapseCard_arrow_open__a6BN5 {
  filter: var(--primary-filter);
  transform: rotate(0);
}
.CollapseCard_wrapper__ysxCo {
  margin: 0 -24px;
  padding: 0 24px;
  overflow: hidden;
  transition: height 0.3s;
}
.CollapseCard_body__Y23RE {
  padding: 16px 0 0;
}
