.DashboardPage_mainScope__kj_Th {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
.DashboardPage_mainScope__kj_Th > div:first-child {
  width: calc(100% - 528px);
}
.DashboardPage_mainScope__kj_Th > div:nth-child(2) {
  width: 480px;
}
@media (max-width: 1280px) {
  .DashboardPage_mainScope__kj_Th {
    flex-direction: column;
    gap: 32px;
  }
  .DashboardPage_mainScope__kj_Th > div:first-child,
  .DashboardPage_mainScope__kj_Th > div:nth-child(2) {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .DashboardPage_mainScope__kj_Th {
    gap: 24px;
  }
}
.DashboardPage_tableScope__RzCgy {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 1280px) {
  .DashboardPage_tableScope__RzCgy {
    gap: 32px;
  }
}
@media (max-width: 900px) {
  .DashboardPage_tableScope__RzCgy {
    gap: 24px;
  }
}
.DashboardPage_stats__YlBcP {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 1280px) {
  .DashboardPage_stats__YlBcP {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .DashboardPage_stats__YlBcP > div:first-child {
    width: 40%;
    min-width: 330px;
  }
  .DashboardPage_stats__YlBcP > div:nth-child(2) {
    width: calc(60% - 24px);
    max-width: calc(100% - 354px);
  }
}
@media (max-width: 1100px) {
  .DashboardPage_stats__YlBcP {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .DashboardPage_stats__YlBcP > div {
    width: 100% !important;
    max-width: unset !important;
    min-width: unset !important;
  }
}
.DashboardCards_container__4jZRp {
  display: flex;
  gap: 48px;
}
.DashboardCards_container__4jZRp > div:first-child,
.DashboardCards_container__4jZRp > div:nth-child(2) {
  width: 50%;
  max-width: 800px;
}
@media (max-width: 1280px) {
  .DashboardCards_container__4jZRp {
    flex-direction: column;
    gap: 32px;
  }
  .DashboardCards_container__4jZRp > div:first-child,
  .DashboardCards_container__4jZRp > div:nth-child(2) {
    width: 100%;
    max-width: unset;
  }
}
@media (max-width: 900px) {
  .DashboardCards_container__4jZRp {
    gap: 24px;
  }
}
@media (max-width: 680px) {
  .DashboardCards_container__4jZRp {
    gap: 16px;
  }
}
.KYC_container__x4AS8 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.KYC_container__x4AS8 div {
  opacity: 1;
}
.KYC_container__x4AS8 > div:first-child,
.KYC_container__x4AS8 > div:nth-child(11),
.KYC_container__x4AS8 > div:nth-child(12),
.KYC_container__x4AS8 > div:nth-child(2),
.KYC_container__x4AS8 > div:nth-child(3),
.KYC_container__x4AS8 > div:nth-child(4) {
  width: calc(50% - 6px);
}
.KYC_container__x4AS8 > div:nth-child(3),
.KYC_container__x4AS8 > div:nth-child(4) {
  margin-bottom: 32px;
}
.KYC_container__x4AS8 > div:nth-child(6),
.KYC_container__x4AS8 > div:nth-child(7),
.KYC_container__x4AS8 > div:nth-child(8) {
  width: calc(33.3333333333% - 8px);
}
.KYC_container_hide__xuef1 > div:nth-child(6),
.KYC_container_hide__xuef1 > div:nth-child(7),
.KYC_container_hide__xuef1 > div:nth-child(8) {
  width: calc(50% - 6px);
}
@media (max-width: 680px) {
  .KYC_container__x4AS8 > div:nth-child(6) {
    width: 100%;
  }
  .KYC_container__x4AS8 > div:nth-child(7),
  .KYC_container__x4AS8 > div:nth-child(8) {
    width: calc(50% - 6px);
  }
}
.KYC_state_hide__KRl6z {
  display: none;
}
.ProfileOverview_container__3WREL {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--green-rgb), 0.05) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}
@media (max-width: 1600px) {
  .ProfileOverview_container__3WREL {
    padding: 24px;
  }
}
@media (max-width: 1280px) {
  .ProfileOverview_container__3WREL {
    min-width: unset;
  }
}
@media (max-width: 680px) {
  .ProfileOverview_container__3WREL {
    gap: 16px;
    padding: 16px;
  }
}
.ProfileOverview_titleContainer__syqVu {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.ProfileOverview_title__FErdn {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--contrast-color);
  text-transform: uppercase;
}
.ProfileOverview_role__WoVKO {
  font-weight: 400;
  height: max-content;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgba(var(--gray1-rgb), 0.5);
  color: var(--text-color);
}
.ProfileOverview_role__WoVKO,
.ProfileOverview_row__umxP4 {
  font-family: var(--font-rubik);
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
}
.ProfileOverview_row__umxP4 {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.ProfileOverview_row__umxP4 > div:first-child {
  color: var(--text-color);
  text-transform: capitalize;
}
.ProfileOverview_row__umxP4 > div:nth-child(2) {
  color: var(--text-active-color);
  text-align: end;
}
.ProfileOverview_status__p1KOO {
  color: var(--green) !important;
}
.KYCStatusPlate_NeedToApply___8vvn {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--contrast-color-rgb), 0.08);
}
@media (max-width: 680px) {
  .KYCStatusPlate_NeedToApply___8vvn {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.KYCStatusPlate_Processing__MNKG2 {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--orange-rgb), 0.1);
  color: var(--orange) !important;
}
@media (max-width: 680px) {
  .KYCStatusPlate_Processing__MNKG2 {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.KYCStatusPlate_Approved__IniuI {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--green-rgb), 0.1);
  color: var(--green) !important;
}
@media (max-width: 680px) {
  .KYCStatusPlate_Approved__IniuI {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.JobPostingView_container__gUXms {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.JobPostingView_row__hheYB {
  display: flex;
  gap: 16px;
}
.JobPostingView_row__hheYB div {
  opacity: 1;
}
.JobPostingView_row__hheYB > div:first-child {
  width: calc(70% - 8px);
}
.JobPostingView_row__hheYB > div:nth-child(2) {
  width: calc(30% - 8px);
}
@media (max-width: 1280px) {
  .JobPostingView_row__hheYB > div {
    width: calc(50% - 8px) !important;
  }
}
@media (max-width: 680px) {
  .JobPostingView_row__hheYB {
    flex-direction: column;
  }
  .JobPostingView_row__hheYB > div {
    width: 100% !important;
  }
}
.JobPostingView_name__hC1j3 {
  display: flex;
  gap: 16px;
}
.JobPostingView_name__hC1j3 > div:first-child div {
  opacity: 1;
}
.JobPostingView_area__4LGWV {
  flex: 1 1 auto;
}
.JobPostingView_area__4LGWV div {
  opacity: 1;
}
.JobPostingView_area__4LGWV > div,
.JobPostingView_area__4LGWV > div > div,
.JobPostingView_area__4LGWV > div > div > div {
  height: 100%;
}
.JobPostingView_area__4LGWV textarea {
  height: calc(100% - 16px);
  resize: none;
}
.JobPostingView_expert__BLYpb div {
  opacity: 1;
}
.JobPostingView_dnx__hhp2i {
  padding-left: 16px;
  border-left: 1px solid var(--gray1);
  color: var(--gray2);
  pointer-events: none;
}
.JobPostingView_calendarImage__pao_W {
  width: 20px;
  height: 20px;
  filter: var(--gray1-filter);
}
.JobPostingView_files__QV94t {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  width: max-content;
}
.JobPostingView_files__QV94t:hover {
  color: var(--text-active-color);
}
.JobPostingView_files__QV94t:hover > img {
  filter: var(--gray4-filter);
}
.JobPostingView_files__QV94t:active {
  color: var(--text-active-color);
}
.JobPostingView_files__QV94t:active > img {
  filter: var(--gray3-filter);
}
.JobPostingView_files__QV94t > img {
  filter: var(--primary-filter);
}
.PouwJobInfo_scope__FgcbE {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-top: 1px solid rgba(var(--gray1-rgb), 0.3);
}
.PouwJobInfo_scope__FgcbE:first-child {
  padding-top: 0;
  border-top: unset;
}
.PouwJobInfo_scope__FgcbE:last-child {
  padding-bottom: 0;
}
.PouwJobInfo_scopeTitle__c6ATa {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
.PouwJobInfo_row__Ec9no {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.PouwJobInfo_row__Ec9no > div:first-child {
  color: var(--text-color);
  text-transform: capitalize;
}
.PouwJobInfo_row__Ec9no > div:nth-child(2) {
  color: var(--text-active-color);
  text-align: end;
}
@media (max-width: 680px) {
  .PouwJobInfo_row__Ec9no {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.PouwJobInfo_reason__Kf3kB {
  text-transform: capitalize;
}
.DashboardStats_container__MPWGf {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.DashboardStats_cards__OtXJ1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.DashboardStats_link__4rBTx {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
}
.DashboardStats_link__4rBTx:hover {
  color: var(--text-active-color);
}
.DashboardStats_link__4rBTx:hover > img {
  filter: var(--gray4-filter);
}
.DashboardStats_link__4rBTx:active {
  color: var(--text-active-color);
}
.DashboardStats_link__4rBTx:active > img {
  filter: var(--gray3-filter);
}
.DashboardStats_link__4rBTx > img {
  filter: var(--primary-filter);
}
.GPUsDashboardModal_modal__N0G7z {
  width: 100%;
  height: 100%;
  max-width: unset !important;
  max-height: unset !important;
  border-radius: unset !important;
  border: none !important;
}
.GPUsDashboardModal_header__yXzGw {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
@media (max-width: 680px) {
  .GPUsDashboardModal_header__yXzGw {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.52px;
  }
}
.GPUsDashboardModal_container__f4iF5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px;
}
@media (max-width: 1280px) {
  .GPUsDashboardModal_container__f4iF5 {
    margin: 20px 20px 24px;
  }
}
@media (max-width: 680px) {
  .GPUsDashboardModal_container__f4iF5 {
    margin: 12px 12px 24px;
  }
}
.GPUsDashboardModal_stats__4cJZi {
  display: flex;
  gap: 16px;
}
.GPUsDashboardModal_stats__4cJZi > div {
  width: 20%;
}
@media (max-width: 1280px) {
  .GPUsDashboardModal_stats__4cJZi {
    flex-wrap: wrap;
  }
  .GPUsDashboardModal_stats__4cJZi > div:first-child,
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(2) {
    width: calc(50% - 8px);
  }
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(3),
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(4),
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(5) {
    width: calc(33.3333333333% - 10.6666666667px);
  }
}
@media (max-width: 900px) {
  .GPUsDashboardModal_stats__4cJZi {
    gap: 8px;
  }
  .GPUsDashboardModal_stats__4cJZi > div:first-child {
    width: 100%;
  }
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(2),
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(3),
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(4),
  .GPUsDashboardModal_stats__4cJZi > div:nth-child(5) {
    width: calc(50% - 4px);
  }
}
@media (max-width: 680px) {
  .GPUsDashboardModal_stats__4cJZi > div {
    width: 100% !important;
  }
}
.GPUsDashboardModal_filters__AfaWf {
  display: flex;
  align-items: center;
  gap: 16px;
}
.GPUsDashboardModal_filters__AfaWf > div:first-child {
  margin-right: 16px;
}
.GPUsDashboardModal_filters__AfaWf > div:first-child input {
  padding: 8px 16px;
}
@media (max-width: 680px) {
  .GPUsDashboardModal_filters__AfaWf {
    flex-wrap: wrap;
  }
  .GPUsDashboardModal_filters__AfaWf > div:first-child {
    margin-right: unset;
  }
}
.GPUsDashboardModal_header__yXzGw > div {
  justify-content: flex-start;
  text-align: left;
}
.GPUsDashboardModal_header__yXzGw > div:first-child {
  width: 10%;
}
.GPUsDashboardModal_header__yXzGw > div:nth-child(2) {
  width: 30%;
}
.GPUsDashboardModal_header__yXzGw > div:nth-child(3),
.GPUsDashboardModal_header__yXzGw > div:nth-child(4),
.GPUsDashboardModal_header__yXzGw > div:nth-child(5) {
  width: 20%;
}
.GPUsDashboardModal_row__5dhvT > div {
  justify-content: flex-start;
  text-align: left;
}
.GPUsDashboardModal_row__5dhvT > div:first-child {
  width: 10%;
}
.GPUsDashboardModal_row__5dhvT > div:nth-child(2) {
  width: 30%;
}
.GPUsDashboardModal_row__5dhvT > div:nth-child(3),
.GPUsDashboardModal_row__5dhvT > div:nth-child(4),
.GPUsDashboardModal_row__5dhvT > div:nth-child(5) {
  width: 20%;
}
.GPUsDashboardModal_mobileHeader__wHkRE {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.GPUsDashboardModal_mobileHeader__wHkRE ~ img {
  margin-top: 2px;
}
.NetworkJobsStats_container__45X0z {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--green-rgb), 0.05) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  min-height: 395px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (max-width: 1280px) {
  .NetworkJobsStats_container__45X0z {
    min-height: unset;
  }
}
.NetworkJobsStats_title__cDZPI {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.52px;
  padding: 16px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
.NetworkJobsStats_metrics__h2B1k {
  display: flex;
  background: radial-gradient(
    101.15% 554.79% at 98.77% 0,
    rgba(var(--primary-rgb), 0.08) 0,
    rgba(var(--secondary-rgb), 0.08) 100%
  );
}
.NetworkJobsStats_metrics__h2B1k > div:first-child,
.NetworkJobsStats_metrics__h2B1k > div:nth-child(2) {
  width: 30%;
}
.NetworkJobsStats_metrics__h2B1k > div:nth-child(3) {
  width: 40%;
}
.NetworkJobsStats_metric__GwdlF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid rgba(var(--contrast-color-rgb), 0.1);
  border-bottom: 1px solid rgba(var(--contrast-color-rgb), 0.1);
}
.NetworkJobsStats_metricValue__Bs0Ni {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--contrast-color);
  margin-bottom: 8px;
}
.NetworkJobsStats_metricTitle__WftB8 {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--text-active-color);
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 680px) {
  .NetworkJobsStats_metricTitle__WftB8 {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.NetworkJobsStats_metricText__2k5XL {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 680px) {
  .NetworkJobsStats_metricText__2k5XL {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.NetworkJobsStats_chart__Nj3tU {
  aspect-ratio: 4/2;
  width: 100%;
  max-height: 250px;
  padding: 8px 16px 0;
}
.NetworkJobsStats_tooltipRow__A7NLl {
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.NetworkJobsStats_tooltipRow__A7NLl > div:nth-child(2) {
  color: var(--text-active-color);
}
.NetworkJobsStats_gpuLink__QvA4Y {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 16px;
  line-height: 19.52px;
  margin-top: 4px;
  text-transform: uppercase;
}
.NetworkJobsStats_gpuLink__QvA4Y:hover {
  color: var(--text-active-color);
}
.NetworkJobsStats_gpuLink__QvA4Y:hover > img {
  filter: var(--gray4-filter);
}
.NetworkJobsStats_gpuLink__QvA4Y:active {
  color: var(--text-active-color);
}
.NetworkJobsStats_gpuLink__QvA4Y:active > img {
  filter: var(--gray3-filter);
}
.NetworkJobsStats_gpuLink__QvA4Y > img {
  filter: var(--primary-filter);
}
@media (max-width: 1280px) {
  .NetworkJobsStats_gpuLink__QvA4Y {
    margin-top: 15px;
  }
}
@media (max-width: 900px) {
  .NetworkJobsStats_gpuLink__QvA4Y {
    margin-top: unset;
  }
}
.PouwJobModal_modal__XFove {
  min-width: 500px;
}
@media (max-width: 680px) {
  .PouwJobModal_modal__XFove {
    min-width: unset;
  }
}
.PouwJobModal_header__0gasr {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
@media (max-width: 680px) {
  .PouwJobModal_header__0gasr {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.52px;
  }
}
.PouwJobModal_body__W2nvo {
  padding: 20px;
}
.PouwJobHistoryTable_filters__GttN1 > div {
  width: 220px;
}
@media (max-width: 1280px) {
  .PouwJobHistoryTable_filters__GttN1 > div {
    width: 160px;
  }
}
@media (max-width: 680px) {
  .PouwJobHistoryTable_filters__GttN1 > div {
    width: 50%;
  }
}
.PouwJobHistoryTable_header__5U6F9 > div {
  justify-content: flex-start;
  text-align: left;
}
.PouwJobHistoryTable_header__5U6F9 > div:first-child {
  width: 12%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(2) {
  width: 8%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(3) {
  width: 13%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(4) {
  width: 12%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(5) {
  width: 14%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(6) {
  width: 12%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(7) {
  width: 14%;
}
.PouwJobHistoryTable_header__5U6F9 > div:nth-child(8) {
  width: 15%;
}
.PouwJobHistoryTable_row__Q5HXh > div {
  justify-content: flex-start;
  text-align: left;
}
.PouwJobHistoryTable_row__Q5HXh > div:first-child {
  width: 12%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(2) {
  width: 8%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(3) {
  width: 13%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(4) {
  width: 12%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(5) {
  width: 14%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(6) {
  width: 12%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(7) {
  width: 14%;
}
.PouwJobHistoryTable_row__Q5HXh > div:nth-child(8) {
  width: 15%;
}
.PouwJobHistoryTable_mobileHeader__Yy6P7 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.PouwJobHistoryTable_mobileHeader__Yy6P7 ~ img {
  margin-top: 5px;
}
.PouwJobHistoryTable_mobileHeader_row__GEFN7 {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
@media (max-width: 680px) {
  .PouwJobHistoryTable_mobileHeader__Yy6P7 ~ img {
    margin-top: unset;
  }
}
.PouwJobHistoryTable_link__683pZ {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
}
.PouwJobHistoryTable_link__683pZ:hover {
  color: var(--text-active-color);
}
.PouwJobHistoryTable_link__683pZ:hover > img {
  filter: var(--gray4-filter);
}
.PouwJobHistoryTable_link__683pZ:active {
  color: var(--text-active-color);
}
.PouwJobHistoryTable_link__683pZ:active > img {
  filter: var(--gray3-filter);
}
.PouwJobHistoryTable_link__683pZ > img {
  filter: var(--primary-filter);
}
@media (max-width: 900px) {
  .PouwJobHistoryTable_type__l41g4 {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 680px) {
  .PouwJobHistoryTable_type__l41g4 {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.PouwRewards_header___ohEu > div {
  justify-content: flex-start;
  text-align: left;
}
.PouwRewards_header___ohEu > div:first-child {
  width: 20%;
}
.PouwRewards_header___ohEu > div:nth-child(2),
.PouwRewards_header___ohEu > div:nth-child(3) {
  width: 24%;
}
.PouwRewards_header___ohEu > div:nth-child(4),
.PouwRewards_header___ohEu > div:nth-child(5) {
  width: 16%;
}
.PouwRewards_row__2tyij > div {
  justify-content: flex-start;
  text-align: left;
}
.PouwRewards_row__2tyij > div:first-child {
  width: 20%;
}
.PouwRewards_row__2tyij > div:nth-child(2),
.PouwRewards_row__2tyij > div:nth-child(3) {
  width: 24%;
}
.PouwRewards_row__2tyij > div:nth-child(4),
.PouwRewards_row__2tyij > div:nth-child(5) {
  width: 16%;
}
.PouwRewards_mobileHeader__TorSO {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.PouwRewards_mobileHeader_row__XZp_V {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.PouwRewards_mobileHeader_row__XZp_V:first-child {
  margin-bottom: 8px;
}
.PouwRewards_mobileHeader_row__XZp_V:nth-child(3) {
  align-items: flex-end;
}
.PouwRewards_mobileAmount__XTO4A {
  text-align: end;
}
.PouwRewards_link__gMRl5 {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
}
.PouwRewards_link__gMRl5:hover {
  color: var(--text-active-color);
}
.PouwRewards_link__gMRl5:hover > img {
  filter: var(--gray4-filter);
}
.PouwRewards_link__gMRl5:active {
  color: var(--text-active-color);
}
.PouwRewards_link__gMRl5:active > img {
  filter: var(--gray3-filter);
}
.PouwRewards_link__gMRl5 > img {
  filter: var(--primary-filter);
}
.PouwRewards_parts__OzqLj {
  display: flex;
  gap: 4px;
}
.PouwRewards_fee__gcWhS {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--contrast-color);
}
@media (max-width: 680px) {
  .PouwRewards_fee__gcWhS {
    text-align: end;
  }
}
.WorkersMap_container__ZZJOg {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  height: 395px;
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}
@media (max-width: 680px) {
  .WorkersMap_container__ZZJOg {
    height: 250px;
  }
}
