@font-face {
  font-family: __RubikFont_b0d03b;
  src: url(../media/890fe6c357e3455f-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: __RubikFont_b0d03b;
  src: url(../media/6bff33d9e8452824-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: __RubikFont_b0d03b;
  src: url(../media/2c1b47d4a3bdcfef-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: __RubikFont_b0d03b;
  src: url(../media/935f2dd0393f8243-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: __RubikFont_b0d03b;
  src: url(../media/1718841066c6a5d2-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: __RubikFont_Fallback_b0d03b;
  src: local("Arial");
  ascent-override: 88.38%;
  descent-override: 23.63%;
  line-gap-override: 0%;
  size-adjust: 105.79%;
}
.__className_b0d03b {
  font-family: __RubikFont_b0d03b, __RubikFont_Fallback_b0d03b;
}
.__variable_b0d03b {
  --font-rubik: "__RubikFont_b0d03b", "__RubikFont_Fallback_b0d03b";
}
@font-face {
  font-family: __RigidFont_084bfb;
  src: url(../media/3c86e0e5d3512264-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: __RigidFont_084bfb;
  src: url(../media/0d0d02bf0302cbb1-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: __RigidFont_084bfb;
  src: url(../media/760791c13337a37e-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: __RigidFont_084bfb;
  src: url(../media/5965dd67248cfef5-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: __RigidFont_Fallback_084bfb;
  src: local("Arial");
  ascent-override: 87.79%;
  descent-override: 24.95%;
  line-gap-override: 0%;
  size-adjust: 108.22%;
}
.__className_084bfb {
  font-family: __RigidFont_084bfb, __RigidFont_Fallback_084bfb;
}
.__variable_084bfb {
  --font-rigid: "__RigidFont_084bfb", "__RigidFont_Fallback_084bfb";
}
@font-face {
  font-family: __IBMPlexMonoFont_209945;
  src: url(../media/0080c7cc0358560d-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: __IBMPlexMonoFont_Fallback_209945;
  src: local("Arial");
  ascent-override: 102.5%;
  descent-override: 27.5%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
.__className_209945 {
  font-family: __IBMPlexMonoFont_209945, __IBMPlexMonoFont_Fallback_209945;
  font-weight: 300;
  font-style: normal;
}
.__variable_209945 {
  --font-ibm: "__IBMPlexMonoFont_209945", "__IBMPlexMonoFont_Fallback_209945";
}
.KYC_container__x4AS8 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.KYC_container__x4AS8 div {
  opacity: 1;
}
.KYC_container__x4AS8 > div:first-child,
.KYC_container__x4AS8 > div:nth-child(11),
.KYC_container__x4AS8 > div:nth-child(12),
.KYC_container__x4AS8 > div:nth-child(2),
.KYC_container__x4AS8 > div:nth-child(3),
.KYC_container__x4AS8 > div:nth-child(4) {
  width: calc(50% - 6px);
}
.KYC_container__x4AS8 > div:nth-child(3),
.KYC_container__x4AS8 > div:nth-child(4) {
  margin-bottom: 32px;
}
.KYC_container__x4AS8 > div:nth-child(6),
.KYC_container__x4AS8 > div:nth-child(7),
.KYC_container__x4AS8 > div:nth-child(8) {
  width: calc(33.3333333333% - 8px);
}
.KYC_container_hide__xuef1 > div:nth-child(6),
.KYC_container_hide__xuef1 > div:nth-child(7),
.KYC_container_hide__xuef1 > div:nth-child(8) {
  width: calc(50% - 6px);
}
@media (max-width: 680px) {
  .KYC_container__x4AS8 > div:nth-child(6) {
    width: 100%;
  }
  .KYC_container__x4AS8 > div:nth-child(7),
  .KYC_container__x4AS8 > div:nth-child(8) {
    width: calc(50% - 6px);
  }
}
.KYC_state_hide__KRl6z {
  display: none;
}
.ProfileOverview_container__3WREL {
  border-radius: 4px;
  border: 0.3px solid rgba(var(--contrast-color-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--green-rgb), 0.05) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}
@media (max-width: 1600px) {
  .ProfileOverview_container__3WREL {
    padding: 24px;
  }
}
@media (max-width: 1280px) {
  .ProfileOverview_container__3WREL {
    min-width: unset;
  }
}
@media (max-width: 680px) {
  .ProfileOverview_container__3WREL {
    gap: 16px;
    padding: 16px;
  }
}
.ProfileOverview_titleContainer__syqVu {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.ProfileOverview_title__FErdn {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--contrast-color);
  text-transform: uppercase;
}
.ProfileOverview_role__WoVKO {
  font-weight: 400;
  height: max-content;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgba(var(--gray1-rgb), 0.5);
  color: var(--text-color);
}
.ProfileOverview_role__WoVKO,
.ProfileOverview_row__umxP4 {
  font-family: var(--font-rubik);
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
}
.ProfileOverview_row__umxP4 {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.ProfileOverview_row__umxP4 > div:first-child {
  color: var(--text-color);
  text-transform: capitalize;
}
.ProfileOverview_row__umxP4 > div:nth-child(2) {
  color: var(--text-active-color);
  text-align: end;
}
.ProfileOverview_status__p1KOO {
  color: var(--green) !important;
}
.KYCStatusPlate_NeedToApply___8vvn {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--contrast-color-rgb), 0.08);
}
@media (max-width: 680px) {
  .KYCStatusPlate_NeedToApply___8vvn {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.KYCStatusPlate_Processing__MNKG2 {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--orange-rgb), 0.1);
  color: var(--orange) !important;
}
@media (max-width: 680px) {
  .KYCStatusPlate_Processing__MNKG2 {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.KYCStatusPlate_Approved__IniuI {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(var(--green-rgb), 0.1);
  color: var(--green) !important;
}
@media (max-width: 680px) {
  .KYCStatusPlate_Approved__IniuI {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.JobPostingView_container__gUXms {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.JobPostingView_row__hheYB {
  display: flex;
  gap: 16px;
}
.JobPostingView_row__hheYB div {
  opacity: 1;
}
.JobPostingView_row__hheYB > div:first-child {
  width: calc(70% - 8px);
}
.JobPostingView_row__hheYB > div:nth-child(2) {
  width: calc(30% - 8px);
}
@media (max-width: 1280px) {
  .JobPostingView_row__hheYB > div {
    width: calc(50% - 8px) !important;
  }
}
@media (max-width: 680px) {
  .JobPostingView_row__hheYB {
    flex-direction: column;
  }
  .JobPostingView_row__hheYB > div {
    width: 100% !important;
  }
}
.JobPostingView_name__hC1j3 {
  display: flex;
  gap: 16px;
}
.JobPostingView_name__hC1j3 > div:first-child div {
  opacity: 1;
}
.JobPostingView_area__4LGWV {
  flex: 1 1 auto;
}
.JobPostingView_area__4LGWV div {
  opacity: 1;
}
.JobPostingView_area__4LGWV > div,
.JobPostingView_area__4LGWV > div > div,
.JobPostingView_area__4LGWV > div > div > div {
  height: 100%;
}
.JobPostingView_area__4LGWV textarea {
  height: calc(100% - 16px);
  resize: none;
}
.JobPostingView_expert__BLYpb div {
  opacity: 1;
}
.JobPostingView_dnx__hhp2i {
  padding-left: 16px;
  border-left: 1px solid var(--gray1);
  color: var(--gray2);
  pointer-events: none;
}
.JobPostingView_calendarImage__pao_W {
  width: 20px;
  height: 20px;
  filter: var(--gray1-filter);
}
.JobPostingView_files__QV94t {
  z-index: 1;
  cursor: pointer;
  color: var(--primary);
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  width: max-content;
}
.JobPostingView_files__QV94t:hover {
  color: var(--text-active-color);
}
.JobPostingView_files__QV94t:hover > img {
  filter: var(--gray4-filter);
}
.JobPostingView_files__QV94t:active {
  color: var(--text-active-color);
}
.JobPostingView_files__QV94t:active > img {
  filter: var(--gray3-filter);
}
.JobPostingView_files__QV94t > img {
  filter: var(--primary-filter);
}
.PouwJobInfo_scope__FgcbE {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-top: 1px solid rgba(var(--gray1-rgb), 0.3);
}
.PouwJobInfo_scope__FgcbE:first-child {
  padding-top: 0;
  border-top: unset;
}
.PouwJobInfo_scope__FgcbE:last-child {
  padding-bottom: 0;
}
.PouwJobInfo_scopeTitle__c6ATa {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  color: var(--text-active-color);
  text-transform: uppercase;
}
.PouwJobInfo_row__Ec9no {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.PouwJobInfo_row__Ec9no > div:first-child {
  color: var(--text-color);
  text-transform: capitalize;
}
.PouwJobInfo_row__Ec9no > div:nth-child(2) {
  color: var(--text-active-color);
  text-align: end;
}
@media (max-width: 680px) {
  .PouwJobInfo_row__Ec9no {
    font-family: var(--font-rubik);
    font-weight: 300;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.01em;
  }
}
.PouwJobInfo_reason__Kf3kB {
  text-transform: capitalize;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,
input,
select,
textarea {
  padding: 0;
  border: none;
  background-color: transparent;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-appearance: textfield;
}
a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
:root {
  --white: #fff;
  --black1: #020209;
  --black2: #070713;
  --primary: #52d5ff;
  --primary-hover: #0a7fa4;
  --secondary: #67f990;
  --gray1: #1f2632;
  --gray2: #464f5e;
  --gray3: #9196a0;
  --gray4: #dde3ed;
  --red: #ed4c49;
  --orange: #f7c81b;
  --green: #67f990;
  --white-rgb: 255, 255, 255;
  --black1-rgb: 2, 2, 9;
  --black2-rgb: 7, 7, 19;
  --primary-rgb: 82, 213, 255;
  --primary-hover-rgb: 10, 127, 164;
  --secondary-rgb: 103, 249, 144;
  --gray1-rgb: 31, 38, 50;
  --gray2-rgb: 70, 79, 94;
  --gray3-rgb: 145, 150, 160;
  --gray4-rgb: 221, 227, 237;
  --red-rgb: 237, 76, 73;
  --orange-rgb: 247, 200, 27;
  --green-rgb: 103, 249, 144;
  --white-filter: brightness(0) saturate(100%) invert(96%) sepia(100%)
    saturate(12%) hue-rotate(341deg) brightness(105%) contrast(100%);
  --black-filter: brightness(0) saturate(100%) invert(2%) sepia(18%)
    saturate(6106%) hue-rotate(220deg) brightness(86%) contrast(101%);
  --primary-filter: brightness(0) saturate(100%) invert(81%) sepia(28%)
    saturate(4519%) hue-rotate(167deg) brightness(105%) contrast(100%);
  --primary-hover-filter: brightness(0) saturate(100%) invert(32%) sepia(79%)
    saturate(1564%) hue-rotate(168deg) brightness(89%) contrast(92%);
  --secondary-filter: brightness(0) saturate(100%) invert(81%) sepia(6%)
    saturate(3532%) hue-rotate(79deg) brightness(106%) contrast(95%);
  --gray1-filter: brightness(0) saturate(100%) invert(9%) sepia(7%)
    saturate(3774%) hue-rotate(179deg) brightness(90%) contrast(85%);
  --gray2-filter: brightness(0) saturate(100%) invert(28%) sepia(21%)
    saturate(429%) hue-rotate(178deg) brightness(98%) contrast(91%);
  --gray3-filter: brightness(0) saturate(100%) invert(68%) sepia(10%)
    saturate(274%) hue-rotate(182deg) brightness(86%) contrast(94%);
  --gray4-filter: brightness(0) saturate(100%) invert(97%) sepia(1%)
    saturate(4331%) hue-rotate(183deg) brightness(91%) contrast(105%);
  --red-filter: brightness(0) saturate(100%) invert(56%) sepia(94%)
    saturate(4849%) hue-rotate(335deg) brightness(97%) contrast(91%);
  --orange-filter: brightness(0) saturate(100%) invert(70%) sepia(92%)
    saturate(437%) hue-rotate(355deg) brightness(102%) contrast(94%);
  --green-filter: brightness(0) saturate(100%) invert(81%) sepia(6%)
    saturate(3532%) hue-rotate(79deg) brightness(106%) contrast(95%);
  --header-height: 64px;
  --navigation-width: 300px;
  --navigation-collapsed-width: 69px;
  --z-tooltip: 2000;
  --z-modal: 1900;
  --z-popup: 1800;
  --z-header: 1000;
}
html[data-theme="dark"] {
  --background-color-1: var(--black1);
  --background-color-1-rgb: var(--black1-rgb);
  --background-color-filter: var(--black-filter);
  --background-color-2: var(--black2);
  --background-color-2-rgb: var(--black2-rgb);
  --text-color: var(--gray3);
  --text-active-color: var(--gray4);
  --contrast-color: var(--white);
  --contrast-color-rgb: var(--white-rgb);
  --contrast-filter: var(--white-filter);
  scrollbar-width: thin;
  scrollbar-color: var(--gray3);
}
html[data-theme="dark"] ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--gray3);
}
html[data-theme="light"] {
  --background-color-1: var(--white);
  --background-color-1-rgb: var(--white-rgb);
  --background-color-filter: var(--white-filter);
  --background-color-2: var(--white);
  --background-color-2-rgb: var(--white-rgb);
  --text-color: var(--gray1);
  --text-active-color: var(--black);
  --contrast-color: var(--black1);
  --contrast-color-rgb: var(--black1-rgb);
  --contrast-filter: var(--black-filter);
  scrollbar-width: thin;
  scrollbar-color: var(--gray3);
}
html[data-theme="light"] ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
html[data-theme="light"] ::-webkit-scrollbar-thumb {
  background-color: var(--gray3);
}
body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background-color-1);
  font-family: var(--font-rubik);
  font-weight: 300;
  color: var(--text-color);
  overflow: hidden;
}
img {
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
a {
  width: max-content;
  color: var(--text-color);
}
.ChangeLanguage_button__0Kc12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--contrast-color-rgb), 0.04);
  background-color: rgba(var(--contrast-color-rgb), 0.03);
  cursor: pointer;
  transition: all 0.1s;
}
.ChangeLanguage_button__0Kc12:active,
.ChangeLanguage_button__0Kc12:focus,
.ChangeLanguage_button__0Kc12:hover {
  border: 1px solid rgba(var(--gray1-rgb), 0.8);
  background-color: rgba(var(--background-color-1-rgb), 0.2);
}
.ChangeLanguage_button_open__kFKRi,
.ChangeLanguage_button_open__kFKRi:active,
.ChangeLanguage_button_open__kFKRi:focus,
.ChangeLanguage_button_open__kFKRi:hover {
  border: 1px solid var(--gray1);
  background-color: var(--background-color-1);
}
.ChangeLanguage_options__8RRaE {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
}
.ChangeLanguage_language__iNO_1 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.1s;
}
.ChangeLanguage_language__iNO_1:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.05);
}
.ChangeLanguage_language_selected__P_v_F {
  color: var(--text-active-color);
  pointer-events: none;
}
.ChangeLanguage_language_selected__P_v_F,
.ChangeLanguage_language_selected__P_v_F:hover {
  background-color: rgba(var(--contrast-color-rgb), 0.1);
}
.ChangeLanguage_flag___lOKK {
  width: 21px;
  height: auto;
  border-radius: 3px;
}
.Logout_container__nyR9E {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.Logout_container__nyR9E > img {
  width: 20px;
  height: 20px;
  filter: var(--contrast-filter);
}
.Logout_container__nyR9E > div {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  transition: all 0.1s;
}
.Logout_container__nyR9E:hover > div,
.ProfilePopup_button__2NPr5 {
  color: var(--text-active-color);
}
.ProfilePopup_button__2NPr5 {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  max-width: 170px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--contrast-color-rgb), 0.04);
  background-color: rgba(var(--contrast-color-rgb), 0.03);
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
}
.ProfilePopup_button__2NPr5:active,
.ProfilePopup_button__2NPr5:focus,
.ProfilePopup_button__2NPr5:hover {
  border: 1px solid rgba(var(--gray1-rgb), 0.8);
  background-color: rgba(var(--background-color-1-rgb), 0.2);
}
.ProfilePopup_button_open__llTpD,
.ProfilePopup_button_open__llTpD:active,
.ProfilePopup_button_open__llTpD:focus,
.ProfilePopup_button_open__llTpD:hover {
  border: 1px solid var(--gray1);
  background-color: var(--background-color-1);
}
@media (max-width: 680px) {
  .ProfilePopup_button__2NPr5 {
    max-width: 250px;
  }
}
.ProfilePopup_container__m0Jbq {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
.ProfilePopup_confirmed__cyGSK {
  font-family: var(--font-rubik);
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: var(--text-active-color);
}
.ProfilePopup_currency__Pt_3p {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ProfilePopup_currency__Pt_3p > img {
  width: 20px;
  height: 20px;
  margin: -2px;
  padding: -2px;
}
.ProfilePopup_currency__Pt_3p > div {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.ProfilePopup_separator__YAKyI {
  width: 100%;
  height: 0.5px;
  background-color: var(--gray1);
}
.ProfilePopup_link__5_rKO {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.ProfilePopup_link__5_rKO > img {
  width: 20px;
  height: 20px;
  filter: var(--gray4-filter);
}
.ProfilePopup_link__5_rKO > div {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.ProfilePopup_link__5_rKO:hover > div {
  color: var(--text-active-color);
}
.Header_header__zsCz5 {
  z-index: var(--z-header);
  width: 100%;
  height: var(--header-height);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border-bottom: 0.3px solid var(--gray1);
  background-color: var(--background-color-2);
}
@media (max-width: 680px) {
  .Header_header__zsCz5 {
    padding: 16px 16px 16px 24px;
  }
}
.Header_left__wItom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 680px) {
  .Header_left__wItom {
    gap: 12px;
  }
}
.Header_logo__KKv_i {
  display: none;
}
@media (max-width: 680px) {
  .Header_logo__KKv_i {
    width: auto;
    height: 32px;
    display: block;
    filter: var(--contrast-filter);
  }
}
.Header_marketplace__HTtDG {
  font-family: var(--font-rigid);
  font-weight: 500;
  font-size: 20px;
  line-height: 24.4px;
  color: var(--text-active-color);
  margin-left: var(--navigation-collapsed-width);
  transition: margin-left 0.3s;
}
.Header_marketplace_open__Njpzb {
  margin-left: var(--navigation-width);
}
@media (max-width: 680px) {
  .Header_marketplace__HTtDG {
    font-family: var(--font-rigid);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.52px;
    margin-left: 0;
  }
}
.Header_burger__NwwMe {
  display: none;
}
@media (max-width: 680px) {
  .Header_burger__NwwMe {
    width: 20px;
    height: 20px;
    display: block;
    filter: var(--contrast-filter);
    cursor: pointer;
  }
}
.Header_desktopActions__iDKiG {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.Navigation_navigation__gljhC {
  z-index: var(--z-header);
  width: var(--navigation-collapsed-width);
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.3px solid var(--gray1);
  background-color: var(--background-color-2);
  overflow: auto;
  scrollbar-width: none;
  transition: width 0.3s;
}
.Navigation_navigation__gljhC::-webkit-scrollbar {
  display: none;
}
.Navigation_navigation_open__0bVeR {
  width: var(--navigation-width);
}
@media (max-width: 680px) {
  .Navigation_navigation__gljhC {
    width: 100%;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
    border-right: none;
    transform: translateX(-100%);
    transition: transform 0.4s;
  }
  .Navigation_navigation_mobileOpen__feXlf {
    transform: translateX(0);
  }
}
.Navigation_logo__WhLPf {
  padding: 24px 16px 16px 22px;
}
.Navigation_logo__WhLPf > a > img {
  width: auto;
  height: 32px;
  filter: var(--contrast-filter);
}
@media (max-width: 680px) {
  .Navigation_logo__WhLPf {
    display: none;
  }
}
.Navigation_scope__zeKrR {
  padding: 0 0 16px;
  border-bottom: 1px solid var(--gray1);
}
.Navigation_scope__zeKrR:nth-child(2) {
  padding-top: 16px;
}
.Navigation_scope__zeKrR:last-child {
  border-bottom: none;
}
.Navigation_scope_title__2JUnm {
  font-family: var(--font-rigid);
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  min-width: max-content;
  padding: 12px 16px 6px 22px;
  color: var(--gray2);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: opacity 0.2s;
}
.Navigation_scope_title_closed__8RDKR {
  opacity: 0;
}
@media (max-width: 680px) {
  .Navigation_scope_title__2JUnm {
    opacity: 1;
  }
}
.Navigation_link__wJtMA {
  font-family: var(--font-rigid);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.52px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 16px 16px 22px;
  cursor: pointer;
  text-transform: uppercase;
}
.Navigation_link__wJtMA > img {
  width: 24px;
  height: auto;
  filter: var(--gray3-filter);
}
.Navigation_link__wJtMA:hover {
  background-color: rgba(var(--primary-rgb), 0.02);
}
.Navigation_link_title__CT4Ro {
  min-width: max-content;
  transition: opacity 0.2s;
}
.Navigation_link_title_closed__45VBG {
  opacity: 0;
}
@media (max-width: 680px) {
  .Navigation_link_title__CT4Ro {
    opacity: 1;
  }
}
.Navigation_link_current__i30t0 {
  border-right: 1px solid var(--primary);
  background-color: rgba(var(--primary-rgb), 0.05);
  pointer-events: none;
}
.Navigation_link_current__i30t0 > img {
  filter: var(--primary-filter);
}
.Navigation_hide__xql5X {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 16px 16px 22px;
  cursor: pointer;
  text-transform: uppercase;
}
.Navigation_hide__xql5X > div {
  opacity: 0;
  transition: opacity 0.2s;
}
.Navigation_hide__xql5X > img {
  width: 24px;
  height: auto;
  filter: var(--gray3-filter);
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.Navigation_hide__xql5X:hover {
  background-color: rgba(var(--gray4-rgb), 0.07);
}
.Navigation_hide_open__Cw1Nk > div {
  opacity: 1;
}
.Navigation_hide_open__Cw1Nk > img {
  transform: rotate(0);
}
@media (max-width: 680px) {
  .Navigation_hide__xql5X {
    display: none;
  }
}
.Navigation_info__Au9Cu {
  padding: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}
.Navigation_info_open__SNET9 {
  opacity: 1;
}
@media (max-width: 680px) {
  .Navigation_info__Au9Cu {
    opacity: 1;
  }
}
.Navigation_infoCard__j_Esa {
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--gray1);
  background: linear-gradient(
    264.74deg,
    rgba(var(--contrast-color-rgb), 0.03) 0.72%,
    rgba(var(--contrast-color-rgb), 0) 101.03%
  );
}
.Navigation_infoCard_title__aS2HJ {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.Navigation_infoCard_title__aS2HJ > div:first-child {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
}
.Navigation_infoCard_title__aS2HJ > div:nth-child(2) {
  font-family: var(--font-rigid);
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray2);
}
.Navigation_infoCard_links__WF76z {
  display: flex;
  gap: 12px;
}
.Navigation_infoCardLink__1lmfC {
  font-family: var(--font-rigid);
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  z-index: 1;
  cursor: pointer;
  color: var(--text-color);
}
.Navigation_infoCardLink__1lmfC:hover {
  color: var(--text-active-color);
}
.Navigation_infoCardLink__1lmfC:hover > img {
  filter: var(--gray4-filter);
}
.Navigation_infoCardLink__1lmfC:active {
  color: var(--text-active-color);
}
.Navigation_infoCardLink__1lmfC:active > img {
  filter: var(--gray3-filter);
}
.Navigation_mobileActions__h1kOS {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 16px;
}
.Navigation_contacts__czLFH {
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  color: var(--text-active-color);
}
.Navigation_contacts__czLFH > div:first-child {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  margin: 0 0 4px;
  color: var(--text-color);
}
.Navigation_contacts__czLFH > div > span {
  color: var(--text-color);
}
.Navigation_contacts__czLFH > a:hover {
  color: var(--text-active-color);
}
.NavigationLayout_mainScope__i6Jjn {
  width: calc(100% - var(--navigation-collapsed-width));
  height: calc(100% - var(--header-height));
  position: absolute;
  right: 0;
  transition: width 0.3s;
}
.NavigationLayout_mainScope_navigationOpen__SkMUp {
  width: calc(100% - var(--navigation-width));
}
@media (max-width: 680px) {
  .NavigationLayout_mainScope__i6Jjn {
    width: 100%;
  }
}
.NavigationLayout_scrollable__yNc2v {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.NavigationLayout_main__91ci_ {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px;
  overflow: hidden;
  background-image: url(../../../images/background-gradient.svg);
  background-size: contain;
  background-position: 100% 0;
  background-repeat: no-repeat;
}
@media (max-width: 1280px) {
  .NavigationLayout_main__91ci_ {
    gap: 32px;
    padding: 32px;
    gap: 24px;
    padding: 24px;
  }
}
@media (max-width: 680px) {
  .NavigationLayout_main__91ci_ {
    gap: 24px;
    padding: 24px 15px;
    background-image: url(/images/background-gradient-vertical.svg);
    background-size: auto;
    background-position: 75% 0;
    background-repeat: repeat-y;
  }
}
.NavigationLayout_title__P76mt {
  font-family: var(--font-rigid);
  font-weight: 600;
  font-size: 32px;
  line-height: 39.04px;
  color: var(--contrast-color);
  text-transform: uppercase;
}
@media (max-width: 680px) {
  .NavigationLayout_title__P76mt {
    font-family: var(--font-rigid);
    font-weight: 600;
    font-size: 20px;
    line-height: 24.4px;
  }
}
.NavigationLayout_ellipseLeft__GkHUs {
  z-index: -1;
  aspect-ratio: 1;
  width: 600px;
  position: absolute;
  top: 500px;
  left: -100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(var(--primary-rgb), 0.126) 0,
    rgba(var(--primary-rgb), 0) 100%
  );
  filter: blur(25px);
}
@media (max-width: 680px) {
  .NavigationLayout_ellipseLeft__GkHUs {
    display: none;
  }
}
.NavigationLayout_ellipseRight__UAKkj {
  z-index: -1;
  aspect-ratio: 1;
  width: 60%;
  position: absolute;
  top: -300px;
  right: -400px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(var(--primary-rgb), 0.084) 0,
    rgba(var(--primary-rgb), 0) 100%
  );
  filter: blur(25px);
}
@media (max-width: 680px) {
  .NavigationLayout_ellipseRight__UAKkj {
    display: none;
  }
}
.NavigationLayout_warn__9WIE1 {
  border-radius: 4px;
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--primary-rgb), 0.03) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  border: 0.3px solid rgba(var(--orange-rgb), 0.2);
  background: radial-gradient(
    220% 250% at 100% 0,
    rgba(var(--contrast-color-rgb), 0) 0,
    rgba(var(--orange-rgb), 0.05) 22%,
    rgba(var(--contrast-color-rgb), 0) 50%
  );
  font-family: var(--font-rubik);
  font-weight: 300;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: var(--orange);
}
.NavigationLayout_warn__9WIE1 > img {
  width: 20px;
  height: auto;
  filter: var(--orange-filter);
}
.NavigationLayout_link__sXRvQ {
  color: var(--orange);
  text-decoration: underline;
  cursor: pointer;
}
.NavigationLayout_link__sXRvQ:active,
.NavigationLayout_link__sXRvQ:hover {
  color: var(--text-active-color);
}
